/******↓↓↓RESPONSIVE SMARTPHONE↓↓↓******/
@media only screen and (max-width: 780px) {
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url(image/fondecran.jpg) no-repeat fixed 50% 50%;
  }
  .line-drawing {
    margin-left: auto;
    margin-right: auto;
    width: 97%;
    height: 15vh;
  }
  .line-drawing2 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 10vh;
    overflow: hidden;
  }
  .line-drawing2 > svg {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 10vh;
  }
  svg {
    margin-left: auto;
    margin-right: auto;
    width: 97%;
    height: 15vh;
  }
  nav ul {
    margin: 0;
    padding: 10px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: none;
  }
  li > a {
    text-decoration: none;
    list-style: none;
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
    text-shadow: 2px 2px 5px #000;
  }
  .sub_banner {
    height: 5vh;
    width: 100%;
    padding: 0 0 0 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: left;
  }
  p {
    font-size: 1.5rem;
    color: #fff;
  }
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 50px;
    margin-left: 50px;
  }
  iframe {
    margin-left: 2vw;
    width: 210px;
    height: 450px;
    border-radius: 10px;
  }
  .sidenav i {
    color: #fff;
    position: absolute;
    top: 70px;
    right: 11px;
    margin-left: 50px;
  }
  .swiper {
    width: 100%;
    height: 35vh;
  }
  /****************SLIDER CONTENU 2***************************/
  .menu_container {
    height: 100%;
    width: 100%;
    margin-top: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    overflow: scroll;
  }
  .assiete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 50vh;
    width: 100%;
    overflow: hidden;
  }
  .assiete > img {
    height: 200px;
    width: 200px;
    border-radius: 10px;
  }
  .assiete > h2 {
    text-decoration: underline;
    font-weight: 200;
    color: #fff;
    text-shadow: 2px 2px 3px #000;
  }
  .assiete > p {
    font-size: 1.2rem;
    font-weight: 100;
    color: #fff;
    text-shadow: 2px 2px 3px #000;
  }

  /****************SLIDER CONTENU 2FIN***************************/
  footer {
    margin-top: 2vh;
  }
  #myReservBar > h3 {
    color: #fff;
    text-align: center;
  }
  #myReservBar > form {
    height: 70vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #fff;
    border-radius: 5px;
  }
  #myReservBar > form > input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="time"],
  input[type="number"] {
    height: 5vh;
    width: 40vw;
    background: none;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #fff;
  }
  select {
    height: 5vh;
    width: 40vw;
    background: none;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #fff;
  }
  option {
    color: #000;
  }
  #myReservBar > form > input[type="submit"] {
    height: 5vh;
    width: 30vw;
    background: none;
    color: #fff;
    border-radius: 3px;
    border: 1px solid #fff;
  }
  #myReservBar > form > input[type="submit"]:hover {
    transform: scale(1.09);
    box-shadow: 1px 1px 5px #fff;
  }
}
/******↑↑↑RESPONSIVE SMARTPHONE FIN↑↑↑******/
/************************************************/
/************************************************/
/************************************************/
/******************RESPONSIVE**LANDSCAPE**********/
/************************************************/
/************************************************/
/************************************************/
/************************************************/

@media screen and (orientation: lanscape) {
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}
/******↑↑↑RESPONSIVE LANDSCAPE FIN↑↑↑******/
