@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: url(image/fondecran.jpg) no-repeat;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 1.2px;
}

/****************NAVBAR***************************/
nav ul {
  margin: 0;
  padding: 10px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background: none;
}

li {
  list-style: none;
}

li > a {
  text-decoration: none;
  list-style: none;
  color: #fff;
  font-size: 1.4rem;
  letter-spacing: 1.5px;
  text-shadow: 2px 2px 5px #000;
}

li > a:hover {
  border-bottom: 2px solid #fff;
}
/*****************************MAIN***************************/
/****************LETTRE  ANIMER***************************/
.line-drawing {
  margin: 0;
  padding: 0;
  width: 30vw;
  height: 15vh;
}

svg {
  width: 30vw;
  height: 15vh;
  color: #fff;
}
/****************LETTRE  ANIMER FIN***************************/
/****************SUB_BANNER***************************/
.sub_banner {
  height: 5vh;
  width: 100%;
  padding: 0 0 0 145px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: left;
}
p {
  font-size: 1.5rem;
  color: #fff;
}

/****************SUB_BANNER FIN***************************/
/****************SLIDER*******************************************************************/
.swiper {
  width: 100%;
  height: 50vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/****************SLIDER CONTENU 1***************************/
h1 {
  position: relative;
  color: #fff;
  text-shadow: 2px 2px 3px #000;
  z-index: 5;
  letter-spacing: 5px;
}
i {
  font-size: 1.3rem;
}

.masque {
  height: auto;
  width: 100%;
  background-color: #000;
  z-index: 10;
}

.video_container {
  position: absolute;
  height: auto;
  width: 100%;
}

video {
  height: auto;
  width: 100%;
  z-index: 0;
  opacity: 0.9;
}
/****************SLIDER CONTENU 1FIN***************************/
/****************SLIDER CONTENU 2***************************/
.menu_container {
  height: 100%;
  width: 100%;
  margin-top: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.assiete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 45vh;
  width: 15vw;
}
.assiete > img {
  height: 160px;
  width: 250px;
  border-radius: 10px;
}
.assiete > h2 {
  text-decoration: underline;
  font-weight: 200;
  color: #fff;
  text-shadow: 2px 2px 3px #000;
}
.assiete > p {
  font-weight: 100;
  color: #fff;
  text-shadow: 2px 2px 3px #000;
}
/****************SLIDER CONTENU 2FIN***************************/
/****************SLIDER CONTENU 3***************************/
/****************SLIDER CONTENU 3FIN***************************/
/****************SLIDER CONTENU 4***************************/
/****************SLIDER CONTENU 4FIN***************************/
/****************SLIDER CONTENU 5***************************/
/****************SLIDER CONTENU 5FIN***************************/
/****************SLIDER******************FIN*************************************************/
/*****************************SIDE BAR DE LA MAP***************************/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 0.881);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s ease-in-out;
}

.sidenav i {
  color: #fff;
  position: absolute;
  top: 30px;
  right: 200px;
  margin-left: 50px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 50px;
  margin-left: 50px;
}
iframe {
  margin-left: 1.5vw;
  width: 200px;
  height: 600px;
  border-radius: 10px;
}

/*****************************SIDE BAR DE LA MAP FIN***************************/
/*****************************MAIN FIN***************************/
/*****************************FOOTER***************************/
footer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
  bottom: 0;
  height: auto;
  width: 100%;
  text-shadow: 2px 2px 5px #000;
  background-blend-mode: difference;
  background-color: rgba(0, 0, 0, 0.656);
  padding: 10px;
}
footer > h5 {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 1.2rem;
}
footer a > i {
  color: #fff;
}
